# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE-specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Vector database
vector_db/

